:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#image-upload {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.9rem;

  .form {
    display: flex;

    button {
      margin-left: 0.9rem;
    }

    button,
    input[type="file"] {
      font-size: 1rem;
    }
  }

  .images {
    display: flex;
    text-align: center;

    .img {
      margin: 0.6rem 0.9rem 0 0.9rem;

      .title {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
      }

      img {
        max-width: 45vw;
        max-height: 81vh;
      }
    }
  }
}
